name: pre-commit
on:
  pull_request:

# jobs:
#   pre-commit:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - uses: actions/setup-python@v2
#         with:
#           python-version: 3.13.5
#       - uses: pre-commit/action@v3
#         with:
#           extra_args: '--all-files'


jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit
        uses: pre-commit/action@v2.0.3
        with:
          extra_args: --all-files
